*.iml
.idea/
.kotlin/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
backend/.venv/
backend/.mypy_cache/
backend/.ruff_cache/
admin-console/node_modules/
admin-console/.next/
admin-console/.env.local
