TRACKME_API_BASE_URL=http://10.0.2.2:8000/api/
TRACKME_COMMAND_VERIFICATION_PUBLIC_KEY_PEM=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
TRACKME_MAP_PROVIDER=google
TRACKME_GOOGLE_STATIC_MAPS_API_KEY=
TRACKME_MAPBOX_ACCESS_TOKEN=
TRACKME_MAPBOX_USERNAME=mapbox
TRACKME_MAPBOX_STYLE_ID=streets-v12
